<div class="content2">
    <!-- <img src="assets/light_paper_background_3024x4032.jpg" alt="Background" class="content2-background" width="3024" height="4032"> -->
    <h2 class="content2-h1">Resume</h2>

    
    <h3 class="content2-h3">About Me</h3>
    <p class="content2-p">An adaptive, creative, project-oriented student seeking an opportunity to explore the computer science industry
        and expand knowledge in automation innovation, software engineering, cyber security, general engineering, and
        information technology.
    </p>

    <h3 class="content2-h3">Education</h3>
        <p>University Huntsville, Alabama<br>
        Expected Graduation Date: May 2025<br>
        Bachelor of Science in Computer Science Minor in Psychology</p>
    
    
    <h3 class="content2-h3">Skills</h3>
    <table class="content2-table">
        <tr>
            <td>IT Trouble Shooting</td>
            <td>Computer Maintenance</td>
            <td>Python</td>
            <td>C++</td>
            
        </tr>
        <tr>
            <td>Angular</td>
            <td>HTML</td>
            <td>CSS</td>
            <td>JavaScript</td>
        </tr>
        <tr>
            <td>Teamwork</td>
            <td>Communication</td>
            <td>Creative Writing</td>
            <td>Problem-solving</td>
        </tr>
    </table>

    <h3 class="content2-h3">Industry Projects & Experience</h3>
    <h4 class="content2-h4">Software Engineering & Web Development<span class="align-right">Aug 2020 - Present</span></h4>
    <ul>
        <li>Certified and Experienced in Python. Software engineering experience in Python, C++, and Java</li>
        <li>Currently integrating a website with HTML, CSS, JavaScript, and Angular. I also have past experiences
             with C++ and Java.</li>
    </ul>

    <h4 class="content2-h4">Computer Maintenance, Foster High School<span class="align-right">Aug 2018 - May 2021</span></h4>
    <ul>
        <li>Manufactured a laser tripwire to detect possible movement and play an MP3 when alerted. Made
            possible on the raspberry pi with a breadboard, speaker, and laser pointer.</li>
        <li>Constructed a Nintendo gaming system with the Retro Pi operating system to bring dozens of games to a
            two-player.</li>
    </ul>

    <h4 class="content2-h4">Computer, Robotics, & Engineering Summer Camps<span class="align-right">May 2014 - Aug 2018</span></h4>
    <ul>
        <li>Attended Summer camps covering topics including Flash, Java (using Eclipse), Unity 3D, Animation
            using Blender, Coding using SWIFT, Robotics using Mindstorm NXT, and more.</li>
    </ul>

    <h3 class="content2-h3">Work Experience</h3>
    <h4 class="content2-h4">IT Agent, Oakwood University<span class="align-right">Aug 2021 - Present</span></h4>
    <ul>
        <li>Direct and inform clients of the proper solutions to the diverse and evolving issues that they may
            encounter while traversing the campus' hardware and interfaces.</li>
        <li>Willed myself and others to go the extra mile to ensure that the client's issue was resolved and prevented
            from further occurrences.</li>
        <li>Encountered bizarre and unusual obstacles, persevering through each with a new pertinent solution for
            future relevant problems.</li>
    </ul>

    <h4 class="content2-h4">Team Member, Arby's<span class="align-right">Aug 2020 - July 2021</span></h4>
    <ul>
        <li>Remained reliable and agile during constant shifts in the work environment, supporting management
            during the ever-present changes presented by the global pandemic.</li>
        <li>Triumphed through innumerable, daily challenges that tested my quick thinking skills</li>
    </ul>

    <h4 class="content2-h4">Team Lead, Pizza Hut<span class="align-right">Aug 2018 - Aug 2020</span></h4>
    <ul>
        <li>Lead colleagues and helped management mitigate customer service relations in a timely manner.</li>
        <li>Developed a routine of harboring numerous directives and considerations of consumers to guarantee
            delight deriving from my products.</li>
    </ul>

    <button class="content2-dbutton"><i></i> Download Resume</button>
    <button class="content2-dbutton"><i></i> Project Showcase</button>
    <!-- Link to component/page with projects. Each project will be listed with screenshots, link to the gitHub/replit..., and 
    etc. -->

</div>