<div class="content2">
    <!-- <img src="assets/light_paper_background_3024x4032.jpg" alt="Background" class="content2-background" width="3024" height="4032"> -->
    <h2 class="content2-h1">Resume</h2>

    
    <!-- <h3 class="content2-h3">About Me</h3>
    <p class="content2-p">An adaptive, creative, project-oriented student seeking an opportunity to explore the computer science industry
        and expand knowledge in automation innovation, software engineering, cyber security, general engineering, and
        information technology.
    </p> -->

    <h3 class="content2-h3">Education</h3>
        <p>University Huntsville, Alabama<br>
        Expected Graduation Date: May 2025<br>
        Bachelor of Science in Computer Science<br>
        GPA: 3.48</p>
    
    
    

    <!-- <h3 class="content2-h3">Industry Projects & Experience</h3>
    <h4 class="content2-h4">Software Engineering & Web Development<span class="align-right">Aug 2020 - Present</span></h4>
    <ul>
        <li>Certified and Experienced in Python. Software engineering experience in Python, C++, and Java</li>
        <li>Currently integrating a website with HTML, CSS, JavaScript, and Angular. I also have past experiences
             with C++ and Java.</li>
    </ul>

    <h4 class="content2-h4">Computer Maintenance, Foster High School<span class="align-right">Aug 2018 - May 2021</span></h4>
    <ul>
        <li>Manufactured a laser tripwire to detect possible movement and play an MP3 when alerted. Made
            possible on the raspberry pi with a breadboard, speaker, and laser pointer.</li>
        <li>Constructed a Nintendo gaming system with the Retro Pi operating system to bring dozens of games to a
            two-player.</li>
    </ul>

    <h4 class="content2-h4">Computer, Robotics, & Engineering Summer Camps<span class="align-right">May 2014 - Aug 2018</span></h4>
    <ul>
        <li>Attended Summer camps covering topics including Flash, Java (using Eclipse), Unity 3D, Animation
            using Blender, Coding using SWIFT, Robotics using Mindstorm NXT, and more.</li>
    </ul> -->

    <h3 class="content2-h3">Work Experience</h3>
    
    <h4 class="content2-h4">Full Stack Associate, TechnicallyArt (Remote)<span class="align-right">Jun 2023 – Present</span></h4>
    <ul>
        <li>Applied coding skills to enhance web development, focusing on Angular and AWS Services to deliver a
            user-friendly experience.</li>
        <li>Quickly acquired proficiency in diverse skills and programs through diligent instruction-following,
            ensuring versatility in tackling various, evolving project demands.</li>
        <li>Identified and resolved coding and development challenges using strong analytical skills and conceptual
            thinking, contributing to process efficiency.</li>
    </ul>
    
    <h4 class="content2-h4">IT Agent, Oakwood University<span class="align-right">Aug 2021 - Present</span></h4>
    <ul>
        <li>Demonstrated strong initiative and confidence as an independent worker, completing tasks with a high
            level of energy and a proactive approach.</li>
        <li>Played a pivotal role in supporting IT infrastructure, gaining hands-on experience. Provided direct
            solutions to diverse client issues on campus hardware and interfaces.</li>
        <li>Encountered bizarre and unusual obstacles, persevering through each with a new pertinent solution for
            future relevant problems.</li>
        <li>Motivated team to go the extra mile for client issue resolution. Received positive feedback for effective
            communication and problem-solving skills.</li>
        <li>Supported timely reporting, maintaining hardware, software, and systems. Assisted in troubleshooting
            and contributed to software development and improvement.</li>
    </ul>

    


    <h3 class="content2-h3">Skills</h3>
    <table class="content2-table">
        <tr>
            <td>IT Trouble Shooting</td>
            <td>Computer Maintenance</td>
            <td>HTML</td>
            <td>CSS</td>
            
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>Typescript</td>
            <td>Angular</td>
            <td>MySQL</td>
        </tr>
        <tr>
            <td>AWS Services</td>
            <td>Object-Oriented Programming</td>
            <td>Problem Solving</td>
            <td>Python</td>
        </tr>
    </table>

    
    
    <a href="assets/Colin Griggs.pdf"><button class="content2-dbutton">Download Resume</button></a>
    <a href="https://github.com/AmChickenTender7?tab=repositories"><button class="content2-dbutton">Project Showcase</button></a>
    <!-- Link to component/page with projects. Each project will be listed with screenshots, link to the gitHub/replit..., and 
    etc. -->

</div>